services:
  traefik:
    image: traefik:v3.6.7
    container_name: traefik
    restart: unless-stopped

    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--api.dashboard=true"

    ports:
      - "80:80"
      - "8080:8080"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    
    networks:
      - traefik_network

networks:
  traefik_network:
    name: traefik_network
    driver: bridge